.hero
{
  position: relative;

  img {
  max-width: 100vw;
  width: 100vw;


    @media (max-width: 1400px) {
      & {
      background-position-y: 0;
      }
    }
  }

  .hero-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: min(50%, 50vh);
    z-index: 1;
    
    h1 {
      color: #fff;
      font-size: calc(22px + (122 - 22) * ((100vw - 300px) / (1600 - 300)));
      line-height: 1.5em;
      text-shadow: 2px 2px 2px #000;
      font-style: italic;
      margin: 0;
      transform: translateY(-50%);
    }
  }
}